{% comment %} {% extends 'base.html' %} {% load static %} {% block content %}
<div class="modal_overlay">
  <div class="modal_window">
    <div class="container">
      <h5 class="my-3 border-bottom pb-2">질문등록</h5>
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit" class="btn btn-primary">저장하기</button>
      </form>
    </div>
    {% comment %}
    <form action="{% url 'question:modal' %}" method="post">
      {% csrf_token %}
      <textarea name="content" id="content" rows="15"></textarea>
      <input type="submit" value="답변등록" />
    </form>
    {% endcomment %}
  </div>
</div>

{% endblock %} {% endcomment %}
