{% extends 'base.html' %} {% load static %} {% block content %}
<div id="myModal" class="modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="padding: 10px">
      <span
        class="close"
        onmouseover="this.style.cursor='pointer'"
        onmouseout="this.style.cursor='';"
        >&times;</span
      >
      <h5 class="my-3 border-bottom pb-2">질문등록</h5>
      <form action="{% url 'question:question_create' %}" method="post">
        {% csrf_token %}
        <!-- 오류표시 Start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          {% for field in form %} {% if field.errors %}
          <div>
            <strong>{{ field.label }}</strong>
            {{ field.errors }}
          </div>
          {% endif %} {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div class="mb-3">
          <label for="subject" class="form-label">제목</label>
          <input
            type="text"
            class="form-control"
            name="subject"
            id="subject"
            value="{{ form.subject.value|default_if_none:'' }}"
          />
        </div>
        <div class="mb-3">
          <label for="content" class="form-label">내용</label>
          <textarea class="form-control" name="content" id="content" rows="10">
{{ form.content.value|default_if_none:'' }}</textarea
          >
        </div>
        <button type="submit" class="btn btn-primary">저장하기</button>
      </form>
    </div>
  </div>
</div>
<div style="display: flex flex-direction:column">
  <div>
    <div class="container my-3 profile_div">
      <img src="{% static 'image/profile.png' %}" class="profile" />
      <div class="profile_div">
        <div class="nameis">My name is</div>
        <div class="span_uheeking">Uheeking</div>
      </div>
    </div>
    <div class="icons">
      <button class="question" id="modalButton">
        질문하기
        <i class="fa-solid fa-arrow-pointer"></i>
      </button>
    </div>
  </div>
  {% if question_list %} {% for question in question_list %}
  <div style="padding-top: 30px">
    <div
      class="max-w-2xl mx-auto rounded-lg bg-dark p-4 text-white"
      style="border-radius: 4%; margin: 0 auto; width: 300px"
    >
      <div class="flex items-center justify-between pb-2">
        <div class="flex_balance">
          <div class="color_flex">
            <div class="circle bg-red"></div>
            <div class="circle bg-yellow"></div>
            <div class="circle bg-green"></div>
            <div class="circle bg-blue"></div>
            {% if question.voter.exists %} {% for user in question.voter.all %}
            {% if request.user == user %}
            <i class="fa-solid fa-heart"></i>
            {% else %}
            <a
              href="{% url 'question:question_vote' question.id %}"
              onclick="return confirm('해당글을 추천하시겠습니까?')"
              class="recommend btn btn-sm btn-outline-secondary heart"
            >
              <i class="fa-regular fa-heart"></i>
            </a>
            {% endif %} {% endfor %} {% endif %}
          </div>
          <div class="text-xs text-gray-400">bash</div>
        </div>
      </div>
      <div class="text-green-400">
        <p class="text-green">$ {{ question.author }}</p>
        <p class="font-mono">
          {{ question.subject }}/{{ question.create_date }}
        </p>
        <p class="font-mono">{{ question.content }}</p>
        {% if request.user == question.author %}
        <p class="text-green">
          $ 삭제하시겠습니까?
          <a
            href="{% url 'question:question_delete' question.id  %}"
            onclick="return confirm('정말로 삭제하시겠습니까?')"
            class="text-green delete btn btn-sm btn-outline-secondary"
            >Yes</a
          >
        </p>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %} {% endif %} {% endblock %}
</div>
