<!-- 네비게이션바 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <div class="container-fluid flex">
    <div class="Uheeking">Uheeking</div>
    <a class="nav-link" href="{% url 'common:login' %}">로그인</a> {% comment %}
    <a class="navbar-brand" href="{% url 'pybo:index' %}">Pybo</a>
    {% endcomment %} {% comment %}
    <li class="nav-item">
      {% if user.is_authenticated %}
      <a class="nav-link" href="{% url 'common:logout' %}"
        >{{ user.username }} (로그아웃)</a
      >
      {% else %} {% endif %}
    </li>
    <li>
      {% if not user.is_authenticated %}
      <a class="nav-link" href="{% url 'common:signup' %}">회원가입</a>
      {% endif %}
    </li>
    {% endcomment %}
  </div>
</nav>
